<%- include('header'); -%>
		<main role="main" class="inner cover">
			<h1 class="cover-heading">Multiple Sequence Alignment.</h1>
			
			<div class="grid-container">
				<div class="grid-item">
					<h2>Star Allignment:</h2>
					<%for (let i = 0, j = 0; i < star[0].length; i++) {%><p><%=star[j][i]%></p><p><%=star[++j][i]%></p><p><%=star[++j][i]%></p><p><%=helperStar[i]%></p><br /><%j=0;}%>
				</div>
				<div class="grid-item">
					<h2>ClustalW Allignment:</h2>
					<%for (let i = 0; i < clustalw.length; i+=4){%><p><%=clustalw[i]%></p><p><%=clustalw[i + 1]%></p><p><%=clustalw[i + 2]%></p><p><%=clustalw[i + 3]%></p><br /><%}%>
				</div>
			</div>
			<p>More informational sequences are available when downloaded</p>
			<form action="/download" method="POST">
			<label for="size">Choose length of nucleotides per line:</label>
			<select name="sizeN" id="sizeN">
				<option value="60">60</option>
				<option value="120">120</option>
				<option value="180">180</option>
			</select><br />
			<button class="btn-lg btn-secondary btnStyle" id="download" type="submit">Download as txt File</button>
			</form>
			<form action="/">
				<button class="btn-lg btn-secondary btnStyle" type="submit">Try Another</button>
			</form>
			<!-- <script type="text/javascript">
				$("#download").click(() => {
					window.open('/download')
				})
			</script> -->
		</main>
<%- include('footer'); -%>